{{ define "main" }}

<h1>List: {{ .Type }} for {{ .Title | default .RelPermalink }}</h1>

<div class="row">
    {{ range (.Paginator).Pages }}
    <div class="col">
        <article class="item">
            <h2><a class="item-title" href="{{ .RelPermalink | safeURL }}">{{ .Title }}</a></h2>
            {{ partial "list-img" . }}
            <p>
                {{ .Summary }}
            </p>
            <a href="{{ .RelPermalink }}" class="btn btn-main">Read More</a>
        </article>
    </div>
    {{ end }}
</div>

<div class="row">
    <div class="col text-center">
        {{ template "_internal/pagination.html" . }}
    </div>
</div>

</section>

{{ end }}