{{ $img := .Params.image }}
{{ $url := "" }}
    
{{ if hasPrefix $img "/" }}
    <!-- full path -->
    {{ $url = $img | safeURL }}
{{ else if hasPrefix $img "../" }}
    <!-- relative to article -->
    {{ $url = (printf "%s" (path.Join .RelPermalink $img)) | safeURL }}
{{ else if $img }}
    <!-- absolute path -->
    {{ $url = (printf "%s" (path.Join .RelPermalink $img)) | safeURL }}
{{ end }}

{{ if $url }}
    <!-- path.Join strips the extra / on the beginning, can't use with full .Permalink -->
    <img src="{{ $url }}" class="img-responsive" alt="item-thumb" />
{{ end }}
